@charset "UTF-8";
/* CSS Document */

body
{
	margin: 0;
	padding: 0;
}

.container
{
	width: 100%;
	height: 5000px;
	background-color: white;
}

.header
{
	width: 100%;
	height: 130px;
	background-color: white;
}

.logo
{
	width: 24%;
	height: 90px;
	background-color:white;
	float: left;
	padding: 17px 170px;
	box-sizing: border-box;
}

.menu
{
	width: 76%;
	height: 90px;
	background-color:white;
	float: right;
	font-family: bold2	
}

.menu ul
{
	list-style:none;
}

.menu ul li
{
	float: left;
	padding: 23px 25px ;
	color:#607D8C;
}



.menu ul li a
{
	text-decoration:none;
	color:black;
}

.menu ul li a:hover
{
	text-decoration:none;
	color:#607D8C;
}


@font-face
{
	src:url("../font/SourceSansPro-Light.ttf");
	font-family: light	
}

@font-face
{
	src:url("../font/SourceSansPro-Bold.ttf");
	font-family: bold1	
}

@font-face
{
	src:url("../font/SourceSansPro-Regular.ttf");
	font-family: mot	
}

@font-face
{
	src:url("../font/SourceSansPro-SemiBold.ttf");
	font-family: bold2	
}

.icon
{
	width: 1%;
	height: 50px;
	background-color:white;
	float: right;
	box-sizing: border-box;
	padding: 7px;
}

.icon_02
{
	width: 5%;
	height: 50px;
	background-color:white;
	float: right;
	box-sizing: border-box;
	padding: 7px 150px 7px 47px;
}

.login
{
	width: 20%;
	height: 50px;
	background-color:white;
	float: right;
	box-sizing: border-box;
	font-family: bold2	
}

.login ul
{
	list-style:none;
}

.login ul li
{
	float: right;
	padding: 0px 0px ;
	color:#607D8C;
}

.login ul li a
{
	text-decoration:none;
	color:black;
}

.login ul li a:hover
{
	text-decoration:none;
	color:#607D8C;
}

icon ul li
{
	display:inline-block;
	list-style:none;
}

ul
{
	flex: 1;
	text-align: right;
}

ul li
{
	display:inline-block;
	list-style:none;
}
	
.slider
{
	width: 100%;
	height: 710px;
	background-color: white;
}

.slider_left
{
	width: 33.33%;
	height: 710px;
	background-color:white;
	float: left;
	font-family: tieu de	
		
}

.center 
{
  text-align: center;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
	color:#7C8F99;
	opacity: 0.4;
} 

.slider_left button
{
	width: 190px;
	height: 60px;
	border-radius: 0px;
	color:white;
	background-color:#647F8C;
	font-size: 20pt;
	font-family: bold2
}

.slider_left button:hover 
{
	background-color:black;
	color:white;
	font-size: 12pt;
}

.slider_left_top
{
	width: 100%;
	height: 295px;
	background:url("../images/book.png");
	background-repeat:no-repeat;
	box-sizing:border-box;
	background-color:white;
}

.slider_left_top2
{
	width: 100%;
	height: 415px;
	background:url("../images/t-shirt.png");
	background-repeat:no-repeat;
	background-position: right;
	background-color:white;
	box-sizing:border-box;
}

.slider_left_top3
{
	width: 100%;
	height: 295px;
	background:url("../images/mug.png");
	background-repeat:no-repeat;
	background-color:white;
	box-sizing:border-box;
}

.slider_left_top4
{
	width: 100%;
	height: 415px;
	background:url("../images/hoddie.png");
	background-repeat:no-repeat;
	background-color:white;
	box-sizing:border-box;
	background-position:center;
}

.sale
{
	width: 100%;
	height: 1110px;
	background-color: white;
}

.sale_text
{
	width: 100%;
	height: 150px;
	background-color:white;
	font-family: bold2;
}

.sale ul
{
	list-style:none;
}

.sale ul li
{
	float: left;
	padding: 23px 25px ;
	color:#607D8C;
}



.sale ul li a
{
	text-decoration:none;
	color:black;
}

.sale ul li a:hover
{
	text-decoration:none;
	color:#607D8C;
}

.active
{
	color:#607D8C ;
}


.sale_banner
{
	width: 10%;
	height: 40px;
	background-color: white;
	font-family: hai;
	
}

.sale_text ul
{
	list-style:none;
	text-align:center;
}

.sale_text ul li
{
	float:none;
	padding: 120px 30px  ;
}

.sale_text ul li a
{
	text-decoration:none;
	color:black;
}

.catergories
{
	width:100%;
	height:500px;
	background-color: white;
	display: flex;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
}

.sale_pic_contain
{
	width: 17%;
	height: 340px;
	float: left;
	margin: 1%;
	background-color: white;
	position:relative;
	font-family: mot
}

@font-face
{
	src:url("../font/PlayfairDisplay-VariableFont_wght.ttf");
	font-family: new;
}
	
.about
{
	width:100%;
	height:780px;
	background-color: white;
	display:flex;
	justify-content: center;
}

.about_left
{
	width:30%;
	height:500px;
	background:url("../images/Screen Shot 2021-10-19 at 10.15.33 AM.png");
	background-size:cover;
	color:antiquewhite;
	margin: 7% 4% ;
	padding: 200px 100px 0px 440px;
	box-sizing:border-box;
}

.about_right
{
	width:40%;
	height:570px;
	margin: 1%;
	padding: 250px 0px 0px 0px;
	font-family: mot
}

div {
    text-align:center;
}

.gallery
{
	width:100%;
	height:900px;
	background-color: white;
}

.gallery_text
{
	width:100%;
	height:150px;
	background-color: white;
	font-family: mot
}

.catergories2
{
	width:100%;
	height:350px;
	background-color: white;
	display: flex;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	position:relative;
}

.about_us
{
	width: 100%;
	height: 430px;
	background-color:white;
}

.about_us_left
{
	width: 50%;
	height: 470px;
	background-color:white;
	text-align:left;
	display:flex;
	justify-content:center;
	float:left;
}

.about_us_text
{
	width: 60%;
	height: 235px;
	background-color:white;
	text-align:left;
	margin: 10%;
	font-family: mot;
	
		
}

.about_us_text2
{
	width: 60%;
	height: 235px;
	background-color:white;
	text-align:left;
	margin: 10%;
	font-family: mot;
}

.bot
{
	width:100%;
	height: 900px;
	background-color:white;
	padding-left: 150px;
	padding-right: 150px;
		
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column1 {
  float: left;
  width: 33.33%;
  padding: 20px;
  text-align:left;
	font-family: mot
}

.column2 {
  float: left;
  width: 33.33%;
  padding: 20px;
  background-color:white;
	font-family: mot
}

.column3 {
  float: left;
  width: 33.33%;
  padding: 20px;
 
	text-align: right;
	font-family: mot
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.email
{
	width:100%;
	height:170px;
	background-color:white;
	font-family: mot
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 50%;
	height: 70px;
  padding: 12px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
	padding-left: 20px;
  resize: vertical;
	font-size: 18pt;
}

input[type=submit] {
  background-color:white;
	height: 100px;
  color: white;
  padding: 12px 20px;
  
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.payment
{
	width:100%;
	height:230px;
	background-color:white;
	font-family: mot
}

.payment_pic
{
	width:50%;
	height:68px;
	background-color:white;
	margin-top:44px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.sale_pic_contain img
{
	opacity:1;
	transition: all .3s linear;
}

.sale_pic_contain img:hover
{
	opacity:0.2;
}

.sale_pic_contain color:hover
{
	opacity:0.7;
}


.color:hover
{
        background:#607D8C;
}

.icon3
{
	width: 100px;
	height: 100px;
	background-color:transparent;
	position:absolute;
	top: 150px;
	left:119px;
}

.sale_pic_contain .icon3
{
	opacity: 0;
	transition: all .0s linear;
}

.sale_pic_contain:hover .icon3
{
	opacity: 1;
}

